# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Streamlit
.streamlit/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/